[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/

[Bb]in/
[Oo]bj/

.vs/
.vscode

*.suo
*.user
*.userosscache
*.sln.docstates

**/appsettings.development.json
**/appsettings.staging.json
**/appsettings.production.json

**/connectionstrings.development.json
**/connectionstrings.staging.json
**/connectionstrings.production.json

**/mailsettings.development.json
**/mailsettings.staging.json
**/mailsettings.production.json

**/Properties/launchSettings.json
